* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.bmp binary
*.gif binary
*.jpg binary
*.jpeg binary
*.ico binary
*.icns binary
*.pdf binary
*.doc binary
*.docx binary
*.ppt binary
*.pptx binary
*.xls binary
*.xlsx binary
*.woff binary
*.woff2 binary
